.card-footer-buttons {
    margin-top: 1rem;
}

.card-footer-buttons .col{
    display: flex;
    justify-content: center;
}

.custom-fields{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    width: 25rem;
}
