@import url(https://fonts.googleapis.com/css?family=Nunito);.nav-top {
  display: flex;
  flex-direction: row;
  background: #242424;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-top .burger-menu {
  display: flex;
  justify-content: center;
}

.nav-top .burger-menu .burger-button {
  outline: none;
  background: transparent;
  border: none;
  height: 65px;
  width: 65px;
}

.nav-top .burger-menu .burger-button:active {
  background: grey;
  border-radius: 50%;
}

.nav-top .burger-menu .burger-button ion-icon {
  color: white;
  font-size: 30px;
}

.nav-top ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin: 0.5rem 0;
}

.nav-top ul li {
  margin: 0 5px;
}

.nav-top ul li a {
  color: #f5f3f4;
}

.nav-top ul img {
  background: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid grey;
}

.content-area {
  display: flex;
  flex: 250px 1;
  flex-direction: row;
}

aside {
  background-color: #161a1d;
  z-index: 2;
  top: 0px;
  bottom: 0px;
  left: 0;
  width: 250px;
  height: 100vh;
  position: fixed;
  transition: 0.3s ease;
}

aside .navbar-area {
  display: flex;
  justify-content: start;
  height: 66px;
  border-bottom: 1px solid grey;
  background: #242424;
}

aside .navbar-area .close-button {
  outline: none;
  background: transparent;
  border: none;
  padding: 18px;
}

aside .navbar-area .close-button:active {
  background: grey;
  border-radius: 50%;
}

aside .navbar-area .close-button ion-icon {
  color: #f5f3f4;
  font-size: 30px;
}

aside .profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  padding: 1rem;
  background: #22223b;
}

aside .profile-section img {
  background: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid grey;
}

aside .profile-section .username {
  padding: 5px;
  color: #f5f3f4;
}

aside ul {
  margin-top: 1rem;
}

aside ul li a {
  color: #f5f3f4;
}

aside ul li a:hover {
  text-decoration: none;
  color: #8d99ae;
}

main {
  padding: 1rem;
  transition: 0.3s ease;
  margin-left: 250px;
}

.center-login-card {
  margin: 15vw 0;
}

.bg-login {
  background: goldenrod;
  height: calc(100vh - 56px);
}

.card-footer-buttons {
  margin-top: 1rem;
}

.card-footer-buttons .col {
  display: flex;
  justify-content: center;
}

.custom-fields {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  width: 25rem;
}

