@import url(https://fonts.googleapis.com/css?family=Nunito);.nav-md .container.body .col-md-3 .left_col {
  position: fixed;
}

.nav-sm .container.body .col-md-3.left_col {
  position: fixed;
}

.center-login-card {
  margin: 15vw 0;
}

.bg-login {
  background: goldenrod;
  height: calc(100vh - 56px);
}

